<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="A todo App for Procrastinators using Vue JS">
  <meta name="author" content="A Vinayak Rugvedi">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
  <title>Procrastinator's Diary!</title>
  <link href="https://fonts.googleapis.com/css?family=Cinzel|Kaushan+Script|Spirax|Ubuntu+Condensed|Comfortaa|Marcellus" rel="stylesheet">
  <link href="styles/style.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="scripts/script.js" async></script>
</head>

<body>

  <div class="modalWindow" style="display: flex">
    <div class="modalContent">
      <p>Why take a Pen and Paper, when you have the web!</p>
      <div class="close">&#10008;</div>
    </div>
  </div>

  <h1 class="header">Procrastinator's Dairy...</h1>
  <p class="tagLine">- A Diary of <strong style="text-decoration: line-through">Tommorow's</strong> Aspirations...</p>

  <div id="rootInstance">
    <accept-task v-on:addtask="addTaskMethod" v-bind:taskid="key"></accept-task>
  <div class="addedTaskContainer">
    <h3>Tasks Yet to be Done! - &darr;</h3>
    <added-tasks v-for="task of incompleteTasks" v-bind:taskid=task.key v-bind:taskcontent="task.taskname" v-bind:tasknotes="task.tasknotes" v-on:taskcomplete="moveToCompletedTasks" v-on:deletetask="removeIncompleteTask" v-bind:editing="iseditingenabled" v-on:edit="editTask" v-on:editing="editIttodo" v-on:editnotes="editnotestodo"></added-tasks>
  </div>

  <div class="vertLine"></div>

  <div class="completedTaskContainer">
    <h3>Completed Tasks... - &darr;</h3>
    <completed-tasks v-for="task of completedTasks"  v-bind:taskid=task.key v-bind:taskcontent="task.taskname" v-bind:tasknotes="task.tasknotes" v-on:deletetask="removeCompletedTask" v-on:backtodo="moveToIncompleteTasks" v-bind:editing="iseditingenabled" v-on:edit="editTask" v-on:editing="editItcompleted" v-on:editnotes="editnotescompleted"></completed-tasks>
  </div>
  </div>   <!-- Close of the rootInstance -->

  <footer>
    <strong>&copy; A Vinayak Rugvedi @Geekskool</strong>
  </footer>

  <script src="scripts/VueMain.js" async></script>
</body>
</html>
